/* HEADER styles
==================================================================================================== */
header {
	background: url('../media/header.jpg') top center no-repeat;
	background-size: cover;
	padding: 5% 2em 4%;
	position: relative;
	@include transition(padding 0.3s ease-in);
	@media all and (min-width: 960px) {
		padding: 5% 2em 3%;
	}
	h1 {
		max-width: 500px;
		margin: auto;
		display: block;
		width: 100%;
	}
	.mobile-phone {
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		top: 1em;
		right: 1em;
		border-radius: 20px;
		background: $maroon;
		line-height: 40px;
		text-align: center;
		color: $white;
		font-size: 1.5em;
		& .no-touch {
			display: none;
		}
		@media all and (min-width: 600px) {
			display: none;
		}
	}
}
